@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header), Futura, sans-serif;
}

/* Harmonisation des barres de défilement */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0084ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0080ff;
}


.meteor {
  position: absolute;
  width: 2px;
  height: 10px;
  background: white;
  top: -20px;
  left: 50%;
  animation: fall 3s linear infinite;
  opacity: 0;
}

@keyframes fall {
  0% {
    transform: translateY(-50px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(45deg);
    opacity: 0;
  }
}

@keyframes sparkleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.sparkle {
  will-change: opacity, transform;
}
